.App {
  text-align: center;
}
.logo {
  white-space:nowrap;
  padding: 0 42px; 
  font-size:24px; 
  font-weight: bold;
}

.logo-tmdb {
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.header {
  display:flex; 
  position: sticky;
  top: 0;
  z-index: 2; 
  width: 100%;
}

.content {
  padding: 0 50px;
  background-color: #01b4e4;

  &__sider {
    // padding: 24px 0;
    min-height: calc(100vh - 135px);
  }
  &__body {
    padding: 0 24px;
    min-height: 280px;
  }
}

.sider {
    border-right: 2px solid #dddddd;

  &__container {
    position: fixed;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    width: 200px;
    margin-top: 52px;
    padding: 0 10px;
  }

  &__radio {
    margin-bottom: 25px;
  }

  &__divider {
    width: 100%;
    border-bottom: 2px solid #dddddd;
    margin-bottom: 20px;
  }

  &__title {
    margin: 20px 0 10px 8px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }

  &__item {
    width: 100%;
    margin-top: 10px;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  // text-align: 'center';
  width: 100%;
}

.filmcontainer {
  position: relative;
  top: 0px;
  left: 0px;
  height: 550px;
  width: 100%;
  display: flex;
  margin-top: 20px;
  // align-items: center;
  // justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.5);
  }
}

.filmcard {
  position: relative;
  display: flex;
  margin: auto 50px;
  // justify-content: center;
  color: white;
  font-weight: bold;

  &__poster {

  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 24px;
  }

  &__title {
    font-size: 42px;
    font-weight: bold;
  }

  &__subtitle {
    font-size: 28px;
    font-weight: bold;
    margin-top: 6px;
  }

  &__text {
    margin-top: 16px;
    font-size: 16px;
  }

  &__line {
    margin-top: 16px;
    border: 1px solid white;
  }
}


